<section>
  <h1>{{ titre|upper }}</h1>
  
  <form method="POST" action="admin?entite=utilisateur&action=m&utilisateur_id={{ utilisateur.utilisateur_id }}">

    <label>Nom</label>
    <input name="utilisateur_nom" value="{{ utilisateur.utilisateur_nom }}">
    <span>&nbsp;{{ erreurs.utilisateur_nom }}</span>

    <label>Prénom</label>
    <input name="utilisateur_prenom" value="{{ utilisateur.utilisateur_prenom }}">
    <span>&nbsp;{{ erreurs.utilisateur_prenom }}</span>

    <label>Courriel</label>
    <input name="utilisateur_courriel" value="{{ utilisateur.utilisateur_courriel }}">
    <span>&nbsp;{{ erreurs.utilisateur_courriel }}</span>

    <label>Profil</label>
    <select name="utilisateur_profil">
      <option value="utilisateur" {{ utilisateur.utilisateur_profil is same as('utilisateur')  ? 'selected' : '' }}>Utilisateur</option>
      <option value="editeur" {{ utilisateur.utilisateur_profil is same as('editeur') ? 'selected' : '' }}>Editeur</option>
      <option value="administrateur" {{ utilisateur.utilisateur_profil is same as('administrateur') ? 'selected' : '' }}>Administrateur</option>
    </select>

    <input type="submit" value="Envoyer">

  </form>
</section>